<!DOCTYPE html>
<html>
  <head>
    <title>QuestAnswer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class = "container">
     <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="<%= posts_path%>">Все вопросы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Вход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Регистрация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_post_path%>">Новый вопрос</a>
      </li>
     </ul>
  </div>
  <div class="container main"> 
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %>">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
